/* FONT FAMILY */
@import url("./font.css");

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  /* text-decoration: none; */
}

/* FONT-SIZE */
html {
  font-size: 62.5%;
}

/* ROOT VARIABLE */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-dark: #ffa589;
  --color-secondary-light: #fff6f2;
  --color-navbar: #f8f8f8;
  --color-white: #ffffff;
  --color-heading-text: #000000;
  --color-body-text: #333333;
  --color-bacground-icon: #f2e4e4;
  --color-menu-text: #545454;
  --color-menu-humberger: #545454;
  --color-border-bottom: #ccc;

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 5px;
  --border-radius-lg: 8px;
  --border-radius-4xl: 32px;
}

body {
  color: var(--color-body-text);
  font-size: 1.4rem;
  line-height: 1.6;
}

/* --------------------------------------HEADING  FONT-SIZE */
h1,
h2,
h3 {
  color: var(--color-heading-text);
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}
/* HEADING & BODY FONT-SIZE-------------------------------  */

/* --------------------------------------------------BUTTON */
.btn {
  outline: 0;
  border: 0;
  padding: 1.5rem 2.5rem;
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  color: var(--color-white);
  text-align: center;
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}
.btn--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-dark);
}
.btn--block {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 10rem;
}

/* END BUTTON----------------------------------------------- */

/* ----------------------------------------------------BADGE */
.badge {
  display: inline-flex;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius-4xl);
  padding: 1rem 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}
.badge__number {
  order: 1;
  padding-right: 0.5rem;
}
.badge__text {
  padding-left: 0.5rem;
}
.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.badge--secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
}
/* END BADGE--------------------------------------------------- */

/* ----------------------------------------------LIST COMPONENT */
.list--tick .list__item {
  background: url("/assets/images/Tick-Square.svg") no-repeat;
  background-position: right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}
/* END LIST COMPONENT------------------------------------------- */

/* ---------------------------------------------------------PLAN */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.block-plan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3 20px));
  justify-content: center;
  gap: 10rem 6rem;
  margin-top: 5rem;
}
.plan {
  /* max-width: 450px; */
  font-size: 1.8rem;
  transition: all 0.3s ease-out;
}
.plan--popular {
  transform: scale(1.1);
}
.plan--popular:hover {
  transform: scale(1.15);
}
.plan:hover {
  transform: scale(1.05);
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px hsl(0, 4%, 95%);
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__header {
  color: var(--color-white);
}
.card--secondary .card__header {
  background-color: var(--color-secondary-dark);
}
.card--primary .card__header {
  background-color: var(--color-primary-light);
}
.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .list--tick .list__item {
    margin-bottom: 2rem;
  }
  .block-plan {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* END PLAN-------------------------------------------------------- */

/*--------------------------------------------------------  FEATURE */
.feature {
  display: grid;
}
.feature__text {
  margin-bottom: 2rem;
}
.feature .btn {
  padding: 1.2rem 3rem;
}
.feature__image {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.feature__image img {
  width: 70%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature__image {
    order: 2;
    margin-bottom: 0;
  }
  .feature__image {
    order: 1;
  }
  .feature__image img {
    width: 100%;
  }
}

/* END FEATURE------------------------------------------------------- */

/* --------------------------------------------------------CONTACT-US */
.contact-us {
  display: grid;
}
.contact-us__map {
  display: none;
}

/* contact-us icon */
.icon-container img {
  width: 25px;
  height: 25px;
}

.icon-container {
  display: inline-flex;
  background-color: var(--color-bacground-icon);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-us__icons .icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.icon-holder .icon__title {
  margin-left: 1rem;
  display: block;
  max-width: 250px;
}

/* contact-us__social */
.contact-us__social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0 2.5rem 0;
  border-radius: 5px;
}

/* form */
.contact-us__form {
  margin-right: 0;
}
.form-wrapper {
  height: 100%;
  border: 1px solid #afaaaa;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);
}
.form-wrapper h3 {
  margin: 4rem 0;
  text-align: center;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 70%; */
  padding: 3rem;
}
.form-wrapper input {
  display: block;
  border-radius: 39px;
  outline: 0;
  border: 0;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 1.2rem 1rem;
  margin-bottom: 2rem;
  font-family: "iranyekan";
}
.form-wrapper textarea {
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 1.8rem;
  font-family: "iranyekan";
  padding: 0.5rem;
  background-color: #f5f5f5;
}
::placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "iranyekan";
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-primary);
}

@media screen and (min-width: 768px) {
  .contact-us {
    grid-template-columns: 70fr 30fr;
    grid-template-areas:
      "address form"
      "map form"
      "icon form";
  }
  .contact-us__form {
    grid-area: form;
    margin-right: 2rem;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
  }
  .contact-us__icons {
    grid-area: address;
  }
  .contact-us__social {
    grid-area: icon;
  }
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-us__icons .icon-holder {
    flex-direction: column;
  }
  .contact-us__icons .icon-holder.location {
    order: 1;
  }
  .icon-holder .icon__title {
    order: 2;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    max-width: 150px;
  }
  .contact-us__social {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact-us__social .social__holder {
    margin-left: 2rem;
  }
  .contact-us__map img {
    width: 100%;
    height: auto;
  }

  /* form */
}
/* CONTACT-US-------------------------------------------------------- */

/*----------------------------------------------------------- FOOTER */
.main-footer .footer {
  background-color: black;
  color: white;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}
.footer__item {
  /* background-color: gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 2.5rem;
}
.footer__item a {
  text-decoration: none;
  color: var(--color-navbar);
  font-size: 1.4rem;
  /* margin-bottom: 0.5rem; */
  display: blcok;
}
.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

/* footer enamad */
.footer__item.enamad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__enamad {
  background-color: var(--color-navbar);
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
}
.footer__item img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .main-footer .footer .footer__item {
    margin: 0 0 0 2.8rem;
  }
  .footer__enamad {
    margin-left: 0.5rem;
  }
}

/* END FOOTER------------------------------------------------------ */

/*---------------------------------------------------- NAVBAR(MENU) */
.main-header {
  background-color: var(--color-navbar);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.nav .nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-top: 0.7rem;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.nav__item {
  margin-bottom: 0.7rem;
  border-bottom: 1px solid var(--color-border-bottom);
}
.nav__item.cta {
  border-bottom: 0;
}
.nav__item.cta a {
  color: var(--color-white);
  font-size: 1.2rem;
}
.nav__item .btn {
  padding: 1rem 1.2rem;
}
.nav__item a {
  text-decoration: none;
  color: var(--color-menu-text);
  display: block;
  padding-bottom: 0.5rem 0;
  cursor: pointer;
  margin-bottom: 1rem;
}
.nav__item a:hover {
  color: var(--color-primary);
}

/* menu hambergur toggler (nav__list ke inja bood vase tamizi code bala
stye dadm behesh:max-height//opacity//transition)*/


.nav.nav__expanded .nav__list{
  max-height: 100vh;
  opacity: 1;
}
.nav__toggler {
  display: block;
}
.nav__toggler .bar{
  background-color: var(--color-menu-humberger);
  width: 25px;
  height: 4px;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}
.nav.nav__expanded .bar-one{
  transform: rotate(-45deg) translate(-10px,5px);
  margin: 3px 0;
}
.nav.nav__expanded .bar-two{
  transform: translatex(-1px);
  opacity: 0;
}
.nav.nav__expanded .bar-three{
  transform: rotate(45deg) translate(-8px,-3px);
  margin: 2px 0;
}

@media screen and (min-width: 768px) {
  .nav{
    padding: 0 2rem;
  }
  .nav__toggler {
    display: none;
  }
  /* opacity & max-height vase menu hamber hast dar halate desktop */
  .nav .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__item {
    margin-right: 2.5rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    border-bottom: 0;
  }
  .nav__item .btn {
    padding: 0.6rem 1.8rem;
    margin-bottom: 1.3rem;
  }
 

}
/* END NAVBAR(MENU)-------------------------------------------------- */


/*--------------------------------------------------- BANNER SITE */

.hero-section{
  width: 100%;
  height: 478px;
  font-family: "iranyekan";
  font-weight: bold;
}
.hero-section img{
  width: 100%;
  height: 478px;
  object-fit: cover;
}
.hero-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-btn{
  border-radius: 12px;
  padding: 16px;
  background-image:linear-gradient(
    51deg,
    rgba(23,26,60,0.7) 5%,
    rgba(23,26,60,0.3) 95%
  );
  display: flex;
  flex-direction: column;
  width: 270px;
  white-space: nowrap;

}
.intro-btn h1{
  font-size: 2.5rem;
  color: var(--color-white);
}
.intro-btn h2{
  font-size: 1.8rem;
  color: var(--color-white);
  margin-bottom: 3rem;
}
.intro-btn__passenger{
  background-color: var(--color-white);
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 14px;
  width: 220px;
}
.intro-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.intro-btn__passenger{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-btn__passenger p{
  font-size: 1.4rem;
}
@media screen and (min-width:768px) {
  .hero-wrapper{
    /* justify-content: flex-start; */
    position: absolute;
    right: 0;
    left: 500px;
  }
  .intro-wrapper{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .intro-btn{
    width: 530px;
    padding: 25px;
    border-radius: 20px;
  }
  .intro-btn h1{
    font-size: 5rem;
  }
  .intro-btn h2{
    font-size: 2.5rem;
  }
}

/* END BANNER SITE----------------------------------------------- */
.services__tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  padding: 5px 0 15px;
}
.services__tabs a{
  display: block;
  text-decoration: none;
  color: var(--color-menu-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}
.services__tabs .tab p{
  font-size: 1.2rem;
  font-family: "iranyekan";
  font-weight: bold;
  margin-top: 1rem;
  
}
.services__tabs .tab img{
  max-width: 85px;
}
.services__tabs .tab{
  opacity: 0.5;
  transition: all 0.2s ease-out;
}
.services__tabs .tab:hover{
  opacity: 1;
}
.services__title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap;
}
/* feature */
.services .feature{
  padding-right: 2.5rem ;
}
.services .feature__title{
  margin: 1.5rem 0;
}
.services .feature__image{
  display: none;
}
.tab-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature__detail{
  width: 100%;
}
.tab-content{
  display: none;
}
.tab-content.active{
  display: flex;
}
.tab.active{
  opacity: 1;
}


@media screen and (min-width:768px){
  .services__tabs .tab p{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .services__tabs .tab img{
    width: 100%;
  }
  .services__title{
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .services .feature__image{
    display: block;
  }
  .feature__detail{
    width: 50%;
  }
}
/* ------------------------------------------------------SERVICES */

/* END SERVICES-------------------------------------------------- */





/*----------------------------------------------- MEDIA FOR FONT-SIZE */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 1.8rem;
  }
  .badge {
    font-size: 1.4rem;
  }
  .list {
    font-size: 1.8rem;
  }

}
/* END MEDIA FOR FONT-SIZE------------------------------------------- */
