<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>accordion</title>
    <link rel="stylesheet" href="/css/index.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="container block">
      <div class="accordion-wrapper">
        <div class="accordion__intro">
          <h2 class="accordion__heading">سوالات متداول</h2>
          <span>
            <span>ویرایش</span>
            <span><i class="fa-solid fa-pen-to-square"></i></span>
          </span>
        </div>

        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">چرا همکاری با تپسی؟</h2>
            <span class="icon icon-container"
              ><i class="fa-solid fa-chevron-left"></i>
            </span>
          </header>
          <div class="accordion__content">
            <div class="accordion__content-detial">
              <img
                src="/assets/images/cc-wait-and-share.png"
                alt=""
                style="width: 50px"
              />
              <p>
                با خودروی شخصی و زمان‌بندی دلخواهتان برای کار، بیش از 55 میلیون
                تومان درآمد ماهانه داشته باشید
              </p>
              <span><i class="fa-solid fa-pen-to-square"></i></span>
            </div>
          </div>
        </div>

        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">چگونه غیرحضوری راننده تپسی شویم؟</h2>
            <span class="icon icon-container"
              ><i class="fa-solid fa-chevron-left"></i>
            </span>
          </header>
          <div class="accordion__content">
            <div class="accordion__content-detial">
              <img
                src="/assets/images/cc-plus6.png"
                alt=""
                style="width: 50px"
              />
              <p>
              برای ثبت نام غیر حضوری در تپسی کافیست با شماره 1630 تماس بگیرید تا تیم پشتیبانی شما را راهنمایی کند 
              </p>
              <span><i class="fa-solid fa-pen-to-square"></i></span>
            </div>
          </div>
        </div>

        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">امکان کار کردن چند راننده با یک خودرد وجود دارد؟</h2>
            <span class="icon icon-container"
              ><i class="fa-solid fa-chevron-left"></i>
            </span>
          </header>
          <div class="accordion__content">
            <div class="accordion__content-detial">
              <img
                src="/assets/images/cc-line3.png"
                alt=""
                style="width: 50px"
              />
              <p>
                با هر شماره پلاک، 3 راننده امکان شروع کار را دارند اما هر یک باید به صورت جداگانه مراحل ثبت نام را طی کنند.
              </p>
              <span><i class="fa-solid fa-pen-to-square"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/main.js"></script>
  </body>
</html>
