<section class="hero-section">
  <img src="./assets/images/banner.jpg" alt="" />

  <div class="hero-wrapper  container">
    <div class="intro-btn">
      <h1>تپسی</h1>
      <h2>اپلیکیشن درخواست خودرو و پیک</h2>
      <div class="intro-wrapper">
        
        <div class="intro-btn__passenger">
          <span class="hero-icon"><i class="fa-solid fa-download"></i></span>
          <p>دانلود اپلیکیشن مسافران</p>
        </div>

        <div class="intro-btn__passenger">
          <span><i class="fa-brands fa-webflow"></i></span>
          <p>وب اپلیکیشن مسافران</p>
        </div>

        <div class="intro-btn__passenger bac-gradiant">
          <span class="hero-icon"><i class="fa-solid fa-download"></i></span>
          <p>دانلود اپلیکیشن رانندگان</p>
        </div>

        <div class="intro-btn__passenger bac-gradiant">
          <span class="hero-icon"><i class="fa-solid fa-car"></i></span>
          <p>ثبت نام رانندگان</p>
        </div>
      </div>
    </div>
  </div> 
</section>