
<section class="block-plan  container">
     

  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">عادی</span>
          <span class="badge badge--secondary">
            <span class="badge__number">10%</span>
            <span class="badge__text">off</span>
          </span>
        </span>
        <span class="plan__price">290,000</span>
        <span class="plan__billing-cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های معمولی</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت معمولی</li>
          <li class="list__item">سرویس دهی پایین</li>
          <li class="list__item">رسیدن سرویس با تاخیر</li>
        </ul>
        <button class="btn btn--secondary btn--block">ثبت سفارش</button>

      </div>
    </div>
  </div>


  <div class="plan plan--popular">
    <div class="card card--primary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge badge--primary">
            <span class="badge__number">15%</span>
            <span class="badge__text">off</span>
          </span>
        </span>
        <span class="plan__price">390,000</span>
        <span class="plan__billing-cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های  کلاسیک</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت متوسط</li>
          <li class="list__item">سرویس دهی متوسط</li>
          <li class="list__item">رسیدن سرویس با کمترین</li>
        </ul>
        <button class="btn btn--primary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>


  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">ویژه</span>
          <span class="badge badge--secondary">
            <span class="badge__number">20%</span>
            <span class="badge__text">off</span>
          </span>
        </span>
        <span class="plan__price">490,000</span>
        <span class="plan__billing-cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های خارجی
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت عالی</li>
          <li class="list__item">سرویس دهی عالی</li>
          <li class="list__item">رسیدن سرویس بدون تاحیر</li>
        </ul>
        <button class="btn btn--secondary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>
</section>