<section class="services container  block">
  <h2 class="services__title">سرویس های تپسی</h2>
  <div class="services__tabs">
    <a class="tab  active" data-tab-target="nav-classic-tab">
      <img
        src="./assets/images/cc-classic.png"
        alt="tapsi-classic-icon"
      />
      <p>کلاسیک</p>
    </a>

    <a class="tab" data-tab-target="nav-intercity-tab">
      <img
        src="./assets/images/cc-intercity.png"
        alt="tapsi-intercity-icon"
      />
      <p>بین شهری</p>
    </a>

    <a class="tab" data-tab-target="nav-delivery-tab">
      <img
        src="./assets/images/cc-delivery.png"
        alt="tapsi-delivery-icon"
      />
      <p>ارسال بسته</p>
    </a>

    <a class="tab" data-tab-target="nav-wait-tab">
      <img
        src="./assets/images/cc-wait-and-share.png"
        alt="tapsi-wait-and-share-icon"
      />
      <p>باهمسفر</p>
    </a>

    <a class="tab" data-tab-target="nav-tel-tab">
      <img
        src="./assets/images/cc-tel.png"
        alt="tapsi-tel-icon"
      />
      <p>تلفنی</p>
    </a>

    <a class="tab" data-tab-target="nav-plus-tab" >
      <img
        src="./assets/images/cc-plus.png"
        alt="tapsi-plus-icon"
      />
      <p>پلاس</p>
    </a>
  </div>

  <!-- feature -->
  <div class="container">
    <div class="tab-content active" id="nav-classic-tab">
      <div class="feature__image">
        <img src="./assets/images/cc-classic.png" alt="classic" >
      </div>
    
      <div class="feature__detail">
       <h3 class="feature__title">تپسی کلاسیک</h3>
       <p class="feature__text">
        با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان دارید.
        تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر ساعتی از روز
        است. در این سرویس، شما امکان تعیین دو یا چند مقصد و همچنین توقف در
        مسیر را دارید.
       </p> 
      </div>
    </div>

    <div class="tab-content" id="nav-intercity-tab">
      <div class="feature__image">
        <img src="./assets/images/cc-intercity.png" alt="intercity" >
      </div>
    
      <div class="feature__detail">
       <h3 class="feature__title">بین شهری</h3>
       <p class="feature__text">
        با تاکسی اینترنتی بین شهری تپسی می‌توانید با قیمت مناسب
         و امنیت بالا به شهرهای دور و نزدیک سفر کنید.
       </p> 
      </div>
    </div>

    <div class="tab-content" id="nav-delivery-tab">
      <div class="feature__image">
        <img src="./assets/images/cc-delivery.png" alt="delivery" >
      </div>
    
      <div class="feature__detail">
       <h3 class="feature__title">ارسال بسته</h3>
       <p class="feature__text">
        شما می‌توانید با استفاده از سرویس 
        ارسال بسته تپسی مرسولات خود را با موتوپیک(بسته کوچک) یا اتوپیک (بسته بزرگ) ارسال کنید.
       </p> 
      </div>
    </div>

    <div class="tab-content" id="nav-wait-tab">
      <div class="feature__image">
        <img src="./assets/images/cc-wait-and-share.png" alt="wait" >
      </div>

      <div class="feature__detail">
        <h3 class="feature__title">باهمسفر</h3>
        <p class="feature__text">
          در سرویس باهمسفر تپسی،
           با یک مسافر دیگر هم مسیر می شوید. هزینه سفر شما با این سرویس ٪۳۵ به صرفه‌تر از سفر کلاسیک است.
        </p> 
       </div>
    </div>

    <div class="tab-content" id="nav-tel-tab">
      <div class="feature__image">
        <img src="./assets/images/cc-tel.png" alt="tel" >
      </div>

      <div class="feature__detail">
        <h3 class="feature__title">تلفنی</h3>
        <p class="feature__text">
          سرویس تپسی تلفنی یا ۱۶۳۰، این امکان را به شما می‌دهد که بدون نیاز به اینترنت و اپلیکیشن، درخواست خودرو بدهید.
          کافیست با شماره ۱۶۳۰ تماس بگیرید
        </p> 
       </div>
    </div>

    <div class="tab-content" id="nav-plus-tab">
      <div class="feature__image">
        <img src="./assets/images/cc-plus.png" alt="plus" >
      </div>

      <div class="feature__detail">
        <h3 class="feature__title">پلاس</h3>
        <p class="feature__text">
          سرویس تپسی پلاس 
          با ماشین‌های مدل بالاتر و کارکرد کمتر ارائه می‌شود.
           در این سرویس امکان تعیین چند مقصد و توقف در مسیر وجود دارد.
        </p> 
       </div>
    </div>
  </div>
   <!-- end feature -->
</section>
