<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>travell</title>
  <link rel="stylesheet" href="/css/index.css">

  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
</head>
<body>
  
  <section class="container travell block">
    <div class="travell__slides">
      
      <div class="travell__slide">
        <div class="slide__image">
          <img src="/assets/images/travell17.avif" alt="">
        </div>
        <div class="slide__detail">
          <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <p>اقامت رایگان&bull;سفر سه روزه</p>
          </div>
          <p class="slide__title">سفر به قشم</p>

          <div class="slide__icons">
            <div class="icons__view">
              <i class="fa-solid fa-heart"></i>
            <span>۱۲</span>
            <i class="fa-solid fa-eye"></i>
            <span>۴۲</span>
            </div>

           <div class="icons__trasheEdit">
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
           </div>
          </div>
        </div>
      </div>
     
      <div class="travell__slide">
        <div class="slide__image">
          <img src="/assets/images/travell16.avif" alt="">
        </div>
        <div class="slide__detail">
          <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <p>اقامت رایگان&bull;سفر ده روزه</p>
          </div>
          <p class="slide__title">سفر به چین</p>

          <div class="slide__icons">
            <div class="icons__view">
              <i class="fa-solid fa-heart"></i>
            <span>۱۲</span>
            <i class="fa-solid fa-eye"></i>
            <span>۴۲</span>
            </div>

           <div class="icons__trasheEdit">
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
           </div>
          </div>
        </div>
      </div>
     
      <div class="travell__slide">
        <div class="slide__image">
          <img src="/assets/images/travell13.avif" alt="">
        </div>
        <div class="slide__detail">
          <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <p>اقامت رایگان&bull;سفر سه روزه</p>
          </div>
          <p class="slide__title">سفر به رامسر</p>

          <div class="slide__icons">
            <div class="icons__view">
              <i class="fa-solid fa-heart"></i>
            <span>۱۲</span>
            <i class="fa-solid fa-eye"></i>
            <span>۴۲</span>
            </div>

           <div class="icons__trasheEdit">
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
           </div>
          </div>
        </div>
      </div>
     
      <div class="travell__slide">
        <div class="slide__image">
          <img src="/assets/images/travell14.avif" alt="">
        </div>
        <div class="slide__detail">
          <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <p>اقامت رایگان&bull;سفر ده روزه</p>
          </div>
          <p class="slide__title">سفر به هند</p>

          <div class="slide__icons">
            <div class="icons__view">
              <i class="fa-solid fa-heart"></i>
            <span>۱۲</span>
            <i class="fa-solid fa-eye"></i>
            <span>۴۲</span>
            </div>

           <div class="icons__trasheEdit">
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
           </div>
          </div>
        </div>
      </div>
     



    </div>
  </section>
</body>
</html>
